<div id='formIframe'></div>
<div id='initscreen' class='io-dialog keybindings-dialog open'>
	<div class='content bindings-mac'>
		<h1>{{bpmn_header}}</h1>
		<table>
			<tbody>
			<tr>
				<td><input type='text' id='bpmnID' size='40' placeholder='{{bpmn_id_placeholder}}' title='{{bpmn_id_input_placeholder}}'/></td>
			</tr>
			<tr>
				<td id='button_BPMN'><input id="create-bpmn" type='button' value='{{create_bpmn_input_placeholder}}'/> <input id='btn_bpmnIDLoad' type='button' value='{{load_bpmn_input_placeholder}}'/> </td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<div id='sicherheitsabfrage' class='io-dialog keybindings-dialog'>
	<div class='content bindings-mac'>
		<h2>{{bpmn_header}}</h2>
		<table>
			<tbody>
			<tr>
				<td><p>{{overwrite_wiki_page_question}}</p></td>
			</tr>
			<tr>
				<td><input id="overwrite-diagram-yes" type='button' value='{{yes}}' /> <input id="overwrite-diagram-no" type='button' value='{{no}}'/></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>