<div class='screen loading'>

	<div class='note'>
		<div class='project-logo'>
			<span class='.cpd-icon-bpmn-io'></span>
		</div>

		<div class='message'>
			{{ loading_diagram_msg }}
			<span class='.cpd-icon-loading animate-spin'></span>
		</div>
	</div>
</div>

<div class='screen error'>
	<div class='note'>
		<div class='message'>
			<p>
				{{ err_display_diagram_msg }}
			</p>
		</div>

		<div class='details'>
			<span>{{ error_log }}</span>
			<textarea class='error-log'></textarea>
		</div>
	</div>
</div>