<div data-process="{{process}}" data-toolbar="{{showToolbar}}" class="cpd-container" style="width: {{width}}; height: {{height}}"></div>
{{#diagramImage}}<div style="display: none">{{diagramImage}}</div>{{/diagramImage}}
