<div data-process="{{process}}" {{#revision}}data-revision="{{revision}}"{{/revision}} data-toolbar="{{showToolbar}}" class="cpd-container" style="width: {{width}}; height: {{height}}">
{{#diagramImage}}<div class="diagram-image-prerendered" >{{{diagramImage}}}</div>{{/diagramImage}}
</div>
