<div data-process="{{process}}" {{#revision}}data-revision="{{revision}}"{{/revision}} data-toolbar="{{showToolbar}}" class="cpd-container" style="width: {{width}}; height: {{height}}">
  <div id="cpd-loading"><div class="skeleton skeleton-img"></div></div>
</div>
