<div class="cpd-diagram-preview"><div class="cpd-process-name">{{process}}</div><div class="cpd-diagram-preview-image" style="{{#img}}background-image: url('{{img}}');{{/img}} width: {{width}};height: {{height}};"></div></div>
