<table style="display: block;" class="cpd-navigation-connections">
  {{#incoming.length}}
	<tr>
		<th>{{incomingheading}}</th>
		<td>
			<div>
			{{#incoming}}
				<a href="{{link}}" title="{{title}}" class="cpd-nav-item {{class}}">{{{text}}}</a>
			{{/incoming}}
			</div>
		</td>
	</tr>
  {{/incoming.length}}
  {{#outgoing.length}}
	<tr>
		<th>{{outgoingheading}}</th>
		<td>
			<div>
			{{#outgoing}}
				<a href="{{link}}" title="{{title}}" class="cpd-nav-item {{class}}">{{{text}}}</a>
			{{/outgoing}}
			</div>
		</td>
	</tr>
  {{/outgoing.length}}
</table>
