<div>
    {{#connections}}
        <div class="{{#isLaneChange}}lane-change{{/isLaneChange}} {{#isEnd}}end{{/isEnd}}"><a
                href="{{link}}">{{title}}</a></div>
    {{/connections}}
</div>
