<div id="bs-cpd-wrapper" class="loading">
	<div class="skeleton skeleton-line medium"></div>
	<div class="card-line">
		<div class="card-skeleton">
			<div class="skeleton skeleton-img"></div>
			<div class="skeleton skeleton-line long"></div>
			<div class="skeleton skeleton-line medium"></div>
			<div class="skeleton skeleton-line short"></div>
		</div>
		<div class="card-skeleton">
			<div class="skeleton skeleton-img"></div>
			<div class="skeleton skeleton-line long"></div>
			<div class="skeleton skeleton-line medium"></div>
			<div class="skeleton skeleton-line short"></div>
		</div>
		<div class="card-skeleton">
			<div class="skeleton skeleton-img"></div>
			<div class="skeleton skeleton-line long"></div>
			<div class="skeleton skeleton-line medium"></div>
			<div class="skeleton skeleton-line short"></div>
		</div>
	</div>
</div>
