@font-face {
	font-family: 'app';
	src: url(../font/app.woff?42391129) format("woff");
	font-weight: 400;
	font-style: normal;
}

[class^="cpd-icon-"]:before,[class*=" cpd-icon-"]:before {
	font-family: "app";
}


.cpd-icon-annotate:before {
	text-align: center;
	vertical-align: middle;
	content: '\1F50D';
}

.cpd-icon-jumpToPage:before {
	text-align: center;
	vertical-align: middle;
	content: '\21B3';
}

.headerAnnotate:before {
	content: 'Choose Form to Annotate Element';
}

.cpd-icon-save:before {
	content: '\1F4BE';
}

 .cpd-icon-loading:before {
	content: '\f415';
}

.cpd-icon-picture:before {
	content: '\f416';
}

.cpd-icon-plus:before {
	content: '\f417';
}

.cpd-icon-plus-circled:before {
	content: '\f418';
}

.cpd-icon-minus:before {
	content: '\f419';
}

.cpd-icon-info:before {
	content: '\f41a';
}

.cpd-icon-download:before {
	content: '\f41b';
}

.cpd-icon-undo:before {
	content: '\f41c';
}

.cpd-icon-redo:before {
	content: '\f41d';
}

.cpd-icon-open:before {
	content: '\f41e';
}

.cpd-icon-size-reset:before {
	content: '\f41f';
}

.cpd-icon-comment:before {
	content: '\f420';
}

.cpd-icon-keyboard:before {
	content: '\f423';
}

.cpd-icon-resize-full:before {
	content: '\f425';
}

.cpd-icon-resize-small:before {
	content: '\f426';
}

.content {
        width: 100%;
        height:85% !important;
        overflow: hidden;
}
.content>div {
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.content>.screen {
	text-align: center;
	display: table;
	font-size: 16px;
}

.content>.screen .note {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.content .error .details {
	max-width: 500px;
	font-size: 12px;
	margin: 20px auto;
	text-align: left;
}

body:not(.error) .screen.error,body:not(.intro) .screen.intro,body:not(.loading) .screen.loading {
	display: none;
}

.screen .project-logo {
	font-size: 120px;
}

.canvas {
	display: block;
	height: 600px;
}

body.shown .canvas,body.loaded .canvas {
	display: block;
}

body.loaded .canvas svg {
	visibility: hidden;
}

body:not(.shown) .io-export,body:not(.shown) .io-zoom-controls {
	display: none;
}

.samples,.message {
	max-width: 700px;
	margin: auto;
}

@media (max-width:720px) {
	.samples,.message {
		margin: 20px;
	}

	.samples {
		margin-bottom: 60px;
	}
}

.message {
	padding: 40px;
	font-size: 20px;
}

.samples {
	margin-top: 80px;
	margin-bottom: 60px;
	opacity: .4;
	transition: ease-in .1s;
}

.samples:hover {
	opacity: 1;
}

.samples .sample {
	display: inline-block;
	max-width: 100%;
	padding: 10px;
	vertical-align: top;
	position: relative;
}

.samples .tryit {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

.samples .caption {
	font-size: 11px;
	color: #999;
}

.samples .img {
	border-radius: 5px;
	box-shadow: inset 0 0 4px #999;
	padding: 5px;
	width: 100%;
}

.samples .sample>a {
	display: block;
}

.bjs-powered-by,.io-control {
	background: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	border-radius: 2px;
	padding: 5px;
}

.bjs-powered-by {
	padding-bottom: 2px;
}

.close {
	font-size: 21px;
	font-weight: 700;
	text-shadow: 0 1px 0 #FFF;
	opacity: .2;
	line-height: 1;
	vertical-align: middle;
	margin-left: 5px;
}

.close:hover {
	opacity: 1;
}

.vr {
	height: 18px;
	display: inline-block;
	border-right: solid 1px #CCC;
}

a {
	color: #740076;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #a600a9;
}

.io-control-list {
	list-style: none;
	padding: 5px;
	margin: 0;
}

.io-control-list a,.io-control-list a:visited,.io-control-list button {
	padding: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	line-height: 26px;
	color: #555;
	background: none;
	border: none;
}

.io-control-list a:hover,.io-control-list a:visited:hover,.io-control-list button:hover {
	color: #333;
}

.io-control-list a.inactive,.io-control-list a:visited.inactive,.io-control-list button.inactive {
	color: #E0E0E0;
	cursor: default;
}

.io-control-list.io-horizontal,.io-control-list.io-horizontal li {
	display: inline-block;
}

.io-control-list.io-horizontal a {
	padding: 2px;
	margin: 0 5px;
}

.io-control-list.io-horizontal button {
	margin: 0 5px;
}

.io-control hr {
	border: none;
	border-top: solid 1px #EEE;
}

.io-help,.io-legal {
	position: fixed;
	transition: ease-in .1s;
}

.io-legal {
	right: 100px;
}

.io-help {
	right: 20px;
}

body.shown .io-legal {
	right: 165px;
}

body.shown .io-help {
	right: 85px;
}

.io-legal a {
	font-size: 14px;
	line-height: 30px;
}

.io-help button:hover,.io-help a:hover,.io-legal a:hover {
	background: #F0F0F0;
	border-radius: 2px;
}

/**
 * Begin
 * Wiki Edit
 *
 **/
.io-import-export {
	/* This makes the import/export part movable */
	/* position: fixed; */
	/* Original */
	/* left: 20px; */
	/*left: 20px;*/
  /*   width: auto;
   position: fixed;
	left: 220px;
	bottom: 90px;       */
}
/**
 * End
 * Wiki Edit
 *
 **/

.io-help,.io-legal {
	bottom: 25px;
}

.io-import {
	margin-right: 10px;
}

.io-zoom-controls {
	width: auto;
	position: fixed;
	right: 15px;
	bottom: 90px;
}

/**
 * Begin
 * Wiki Edit
 *
 **/
.io-editing-tools {
	width: auto;
	position: fixed;
	right: 15px;
/*    top: 20px; */
}
/**
 * End
 * Wiki Edit
 *
 **/

.io-editing-tools .io-control {
	margin-left: 10px;
}

.io-editing-tools .io-control button {
	margin: 0;
}

.io-zoom-reset {
	margin-bottom: 10px;
}

.io-import-export .inactive {
	opacity: .3;
}

.import-warnings .error-log {
	width: 100%;
}

.hidden {
	display: none;
}

/**
 * Begin
 * Wiki Edit
 *
 **/
.io-alerts {
	position: fixed;
  /*  top: 20px; */
	top: 150px;
	width: 450px;
	text-align: center;
	left: 50%;
	margin-left: -225px;
}
/**
 * End
 * Wiki Edit
 *
 **/

.io-alerts .alert {
	display: none;
	background: #FFFFDB;
	padding: 10px 20px;
	line-height: 20px;
	margin: 0 auto 10px;
}

.io-alerts .alert .details {
	display: none;
}

.io-alerts .alert .details.open {
	display: block;
}

.io-alerts .alert.open {
	display: inline-block;
}

.io-alerts .close {
	float: right;
}

.io-toggle-fullscreen {
	display: none;
}

.io-toggle-fullscreen.open {
	display: inline-block;
}

@media (max-width:500px) {
	.io-alerts {
		width: 100%;
		text-align: center;
		left: 0;
		margin: 0;
	}
}

.io-dialog {
	display: none;
}

.io-dialog.open {
	display: block;
}

.io-dialog.open:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #666;
	opacity: .2;
	z-index: 1001;
}

.io-dialog .content {
	position: fixed;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	top: 100px;
	background: #fff;
	padding: 10px 30px 20px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	border-radius: 2px;
	height: auto;
	z-index: 1001;
}

.io-dialog .project-logo {
	position: absolute;
	bottom: 27px;
	right: 27px;
	width: 54px;
	height: 54px;
	font-size: 48px;
}

/**
 * Begin
 * Wiki Edit
 *
 **/
.keybindings-dialog .content {
	width: 450px;
  /*  margin-left: -225px; */
	margin-left: -140px;
	margin-top: 20px;
}
/**
 * End
 * Wiki Edit
 *
 **/

.keybindings-dialog .binding {
	padding: 5px 10px;
	font-family: monospace;
}

textarea.error-log {
	border: solid 1px #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	min-height: 150px;
	display: block;
}

textarea.error-log:hover {
	background: #FCFCFC;
}

@media (max-width:600px) {
	.io-dialog .content {
		left: 20px;
		right: 20px;
		top: 20px;
		width: auto;
		margin: 0;
	}
}

:full-screen .cpd-icon-resize:before {
	content: '\e86e';
}

:-moz-full-screen .cpd-icon-resize:before {
	content: '\e86e';
}

:-ms-full-screen .cpd-icon-resize:before {
	content: '\e86e';
}

:-webkit-full-screen .cpd-icon-resize:before {
	content: '\e86e';
}

.cpd-icon-resize:before {
	content: '\e86d';
}

.cpd-icon-resize:before {
	content: '\e86d';
}

.cpd-icon-resize:before {
	content: '\e86d';
}

.cpd-icon-resize:before {
	content: '\e86d';
}

#js-drop-zone, .cpd-js-drop-zone {
	height: 520px;
	border: 1px solid #cecece;
	margin-bottom: 55px;
	background-color: white;
}

.infoBox {
	top: 150px;
}

/*
* For `bpmn-custom-menu.js`
*/
.djs-popup-Annotate, .djs-palette {
	background: #FAFAFA;
	border: solid 1px #CCC;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.djs-popup-Annotate .entry {
	line-height: 20px;
	white-space: nowrap;
	border: solid 1px transparent;
	cursor: default;
}

.djs-popup-Annotate .entry:before {
	vertical-align: middle;
	font-size: 15px;
	font-weight: bold;
}

.cpd-editor-info-box {
	border: 2px dotted black;
	text-align:center;
	margin: 5px 0px 20px 0px;
	padding:5px;
}

.cpd-editor-overlay {
	background-color: rgba(1, 1, 1, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.djs-popup-body {
	max-height: 300px;
	overflow-y: scroll;
}
.djs-popup-body::-webkit-scrollbar {
	width: auto;
	visibility: visible;
}
.djs-popup-body::-webkit-scrollbar-thumb {
	visibility: visible;
	background: #efefef;
}
.djs-popup-body::-webkit-scrollbar-track {
	visibility: visible;
	background: #b6b4b4;
}
.djs-popup-body {
	max-height: 300px;
	overflow-y: scroll;
}
.djs-popup-body::-webkit-scrollbar {
	width: auto;
	visibility: visible;
}
.djs-popup-body::-webkit-scrollbar-thumb {
	visibility: visible;
	background: #efefef;
}
.djs-popup-body::-webkit-scrollbar-track {
	visibility: visible;
	background: #b6b4b4;
}
