#cpd-diff-container {
	@classes: added, removed, changed-old, changed-new, layoutChanged-old, layoutChanged-new;
	@colors: #eff6dd, #f5dcdc, #eff6dd, #f5dcdc, #eff6dd, #f5dcdc,;
	@icons: \F4FE, \F2EA, \F4C9, \F4C9, \F110, \F110;
	@circleSize: 25px;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	> div {
		flex: 50;
	}

	.diff-overlay {
		width: @circleSize;
		height: @circleSize;
		font-size: @circleSize;
		text-align: center;
		border-radius: 50%;
		pointer-events: none;
		position: absolute;
		left: -( @circleSize - 3px );
		top: -( @circleSize - 3px );

		&::before {
			content: '';
			display: block;
			font-family: 'bootstrap-icons', sans-serif;
			text-align: center;
			line-height: 24px;
			font-size: 24px;
		}

		&.changed-new::before,
		&.changed-old::before,
		&.layoutChanged-new::before,
		&.layoutChanged-old::before {
			font-size: 12px;
		}
	}

	.loop(@i: 1) when (@i <= length(@classes)) {
		@class: extract(@classes, @i);
		@color: extract(@colors, @i);
		@icon: extract(@icons, @i);

		.diff-@{class} .djs-visual > :nth-child(1) {
			fill: @color !important;
		}

		.diff-overlay.@{class} {
			background-color: @color;

			&::before {
				content: '@{icon}';
				color: darken( @color, 50% );
			}
		}

		.loop(@i + 1);
	}

	.loop();
}
