#cpd-diff-container {
	@classes: added, removed, changed, layoutChanged;
	@colors: #94c11f, #bd1d1d, #2b80ea, #951b81;
	@icons: \F4FE, \F2EA, \F4C9, \F110;
	@opacity: 0.6;
	@circleSize: 25px;

	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;

	> div {
		flex: 50;
	}

	.diff-overlay {
		width: @circleSize;
		height: @circleSize;
		font-size: @circleSize;
		text-align: center;
		border-radius: 50%;
		pointer-events: none;
		opacity: @opacity;
		position: absolute;
		left: -(@circleSize - 3px);
		top: -(@circleSize - 3px);

		&::before {
			content: '';
			display: block;
			font-family: 'bootstrap-icons';
			color: #fff;
			text-align: center;
			line-height: 24px;
			font-size: 24px;
		}

		&.changed::before, &.layoutChanged::before {
			font-size: 12px;
		}
	}

	.loop(@i: 1) when (@i <= length(@classes)) {
		@class: extract(@classes, @i);
		@color: extract(@colors, @i);
		@icon: extract(@icons, @i);

		.diff-@{class} .djs-visual > :nth-child(1) {
			fill: rgba(red(@color), green(@color), blue(@color), @opacity) !important;
		}

		.diff-overlay.@{class} {
			background-color: @color;

			&::before {
				content: "@{icon}";
			}
		}

		.loop(@i + 1);
	}

	.loop();
}
