.mw-body-content {
	.cpd-navigation-connections {
		@color-base: #252525;
		@color-bg-incoming: #EFF6DD;
		@color-bg-outgoing: #DFECFC;
		@color-border-incoming: #94C11F;
		@color-border-outgoing: #2B80EA;
		width: 100%;
		margin-bottom: 50px;

		th {
			width: 20%;
		}

		div {
			padding: 15px 0;
			display: inline-flex;
			gap: 5px;
			flex-wrap: wrap;
		}

		.cpd-nav-item {
			padding: 5px 8px;
			font-weight: 600;
			font-size: 14px;
			border-radius: 5px;
			border: 1px solid transparent;
			color: @color-base;

			&:visited {
				color: @color-base;
			}

			&.incoming {
				background-color: @color-bg-incoming;

				&::after {
					content: '';
					background-image: url( ./../img/task_incoming.svg );
					background-size: 15px 18px;
					background-position: center;
					background-repeat: no-repeat;
					height: 13px;
					width: 20px;
					display: inline-block;
					margin-left: 5px;
				}

				&.startevent::after {
					background-image: url( ./../img/start-incoming.svg );
					background-size: 15px 15px;
				}

				&.cpd-lane-change {
					border-color: @color-border-incoming;
				}
			}

			&.outgoing {
				background-color: @color-bg-outgoing;

				&::before {
					content: '';
					background-image: url( ./../img/task_outgoing.svg );
					background-size: 15px 18px;
					background-position: center;
					background-repeat: no-repeat;
					height: 13px;
					width: 20px;
					display: inline-block;
					margin-right: 5px;
				}

				&.endevent::before {
					background-image: url( ./../img/end-outgoing.svg );
					background-size: 15px 15px;
				}

				&.cpd-lane-change {
					border-color: @color-border-outgoing;
				}
			}
		}
	}
}
